<!-- wp:myblocks/myheader /-->

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Our Team</h2>
<!-- /wp:heading -->

<!-- wp:group {"metadata":{"categories":["posts"],"patternName":"core/query-large-title-posts","name":"Large title"},"align":"full","style":{"spacing":{"padding":{"top":"100px","right":"100px","bottom":"100px","left":"100px"}},"color":{"text":"#ffffff","background":"#000000"}}} -->
<div class="wp-block-group alignfull has-text-color has-background" style="color:#ffffff;background-color:#000000;padding-top:100px;padding-right:100px;padding-bottom:100px;padding-left:100px"><!-- wp:query {"queryId":20,"query":{"perPage":10,"pages":0,"offset":0,"postType":"wunderteam","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:separator {"opacity":"css","className":"alignwide is-style-wide","style":{"color":{"background":"#ffffff"}}} -->
<hr class="wp-block-separator has-text-color has-css-opacity has-background alignwide is-style-wide" style="background-color:#ffffff;color:#ffffff"/>
<!-- /wp:separator -->

<!-- wp:post-title /-->

<!-- wp:group {"align":"wide","layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group alignwide"><!-- wp:post-content /-->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"core/post-meta","args":{"key":"team_member_position"}}}},"className":"team-name","style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"primary2","fontSize":"medium"} -->
<p class="team-name has-primary-2-background-color has-background has-medium-font-size"></p>
<!-- /wp:paragraph -->

<!-- wp:group {"backgroundColor":"secondary2","layout":{"type":"flex","orientation":"horizontal","justifyContent":"left","flexWrap":"wrap","verticalAlignment":"center"}} -->
<div class="wp-block-group has-secondary-2-background-color has-background"><!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"core/post-meta","args":{"key":"team_member_linkedin_account"}}}},"className":"team-name","style":{"layout":{"selfStretch":"fit","flexSize":null}},"backgroundColor":"secondary2"} -->
<p class="team-name has-secondary-2-background-color has-background"></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"core/post-meta","args":{"key":"team_member_github_account"}}}},"className":"team-name","style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"secondary2"} -->
<p class="team-name has-secondary-2-background-color has-background"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:myblocks/myfooter /-->