<!-- wp:myblocks/myheader /-->

<!-- wp:group {"backgroundColor":"black","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-black-background-color has-background"><!-- wp:heading {"textAlign":"center","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} -->
<h1 class="wp-block-heading has-text-align-center has-white-color has-text-color has-link-color">Welcome to my fruit-tastic site!</h1>
<!-- /wp:heading -->

<!-- wp:image {"scale":"cover","sizeSlug":"large","linkDestination":"none","align":"center"} -->
<figure class="wp-block-image aligncenter size-large"><img src="https://www.foodandwine.com/thmb/Y9TNIlK4R8C2UqEDRZw0aqv--RY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/stone-fruit-salad-with-collard-peanut-pesto-FT-RECIPE0621-0112bd1d2d6446f3818edb24c36adce0.jpg" alt="Dish with prepared fruit." style="object-fit:cover"/></figure>
<!-- /wp:image -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Check out the coolest recipes?</a></div>
<!-- /wp:button -->

<!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">How do I pick the best ingredients?</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"textTransform":"none","fontStyle":"normal","fontWeight":"500"}},"textColor":"white","fontSize":"medium"} -->
<p class="has-text-align-center has-white-color has-text-color has-link-color has-medium-font-size" style="font-style:normal;font-weight:500;text-transform:none">Check out some of these cool posts!</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:latest-posts {"displayPostContent":true,"displayAuthor":true,"displayPostDate":true,"displayFeaturedImage":true,"addLinkToFeaturedImage":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|neutral"}}},"color":{"background":"#025180"},"typography":{"textTransform":"none"}},"textColor":"neutral"} /-->

<!-- wp:myblocks/myfooter /-->